@model RecipeFinder_WebApp.Models.User
@{
 Layout = "_AdminLayout";
}

<div class="card border-0 shadow-sm rounded-4 p-4">
 <div class="row g-4">
 <div class="col-md-3 text-center">
 <img src="/images/users/default.png" class="img-fluid rounded-circle mb-3" alt="@Model.Username" style="max-width:140px;" />
 <h5 class="fw-bold">@Model.Username</h5>
 <div class="text-muted">@Model.Role</div>
 </div>
 <div class="col-md-9">
 <h4 class="fw-bold">Profile Details</h4>
 <dl class="row">
 <dt class="col-sm-3">Full Name</dt>
 <dd class="col-sm-9">@Model.FullName</dd>
 <dt class="col-sm-3">Email</dt>
 <dd class="col-sm-9">@Model.Email</dd>
 <dt class="col-sm-3">Mobile</dt>
 <dd class="col-sm-9">@Model.MobileNumber</dd>
 <dt class="col-sm-3">Address</dt>
 <dd class="col-sm-9">@Model.Address</dd>
 <dt class="col-sm-3">Joined</dt>
 <dd class="col-sm-9">18/3/2026</dd>
 </dl>
 <div class="mt-3">
 <a class="btn btn-outline-primary">Message</a>
 <a class="btn btn-outline-danger">Ban User</a>
 </div>
 </div>
 </div>
</div>